[2017-12-27 13:04] LouisCAD opened #1 "Make a usable sample"
The sample should be able to show the GattServices, the characteristics (using their descriptors if available), and reading the ones that can be read. Showing any notify characteristics would be a bonus.

The summum would be to make an app similar to [nRF Connect](https://play.google.com/store/apps/details?id=no.nordicsemi.android.mcp&hl=en) using this library, while keeping the code clear and con

[2017-12-27 13:07] LouisCAD opened #2 "Add documentation on GattConnection class"

[2017-12-29 23:45] LouisCAD opened #3 "Implement Eddystone-URL Configuration Service as a complex example"
The [Eddystone-URL Configuration Service](https://github.com/google/eddystone/blob/master/eddystone-url/docs/config-service-spec.md) used by the Beacon I got at Google I/O Extended 2016 could be used as a more complex example of how this library can be used.

[2018-01-02 11:14] LouisCAD commented on #1
While an nRF Connect level app is not there, we have a handset and wearable working sample apps since last year, so I'm closing this issue.

[2018-01-02 11:14] #1 closed

[2018-01-02 11:15] LouisCAD commented on #2
The doc has been improved in recent commits.

[2018-01-02 11:15] #2 closed

[2018-01-02 11:18] LouisCAD opened #4 "Publish the library on jcenter"
Should be done ASAP this month

[2018-01-02 20:00] bj0 commented on #4
You may want to add to your download comment "but it's made of only 4 Kotlin files, so you can already try it out in your project pretty easily."  That it also uses another one of your libraries and how to get it, otherwise you have to dig through your project looking at build.gradle files.

[2018-01-02 20:15] LouisCAD commented on #4
I agree, I will edit the doc today. Thanks for your comment!
Sent with Android 8.1

On Tue, Jan 2, 2018, 9:00 PM Brian Parma <notifications@github.com> wrote:

[2018-01-02 23:26] LouisCAD commented on #4
@bj0 I just edited download instructions in the README to avoid any future confusion.

[2018-01-04 16:45] LouisCAD opened #5 "Need to write a descriptor to effectively enable characteristic notifications?"
Calling `setCharacteristicNotificationsEnabled(...)` may not be enough, it may need an additional specific descriptor write.
We need to confirm this and see if the library should change accordingly.

Useful links:
- https://developer.android.com/guide/topics/connectivity/bluetooth-le.html#notification
- https://www.bluetooth.com/wp-content/uploads/Sitecore-Media-Library/Gatt/Xml/Descriptors/org.bl

[2018-01-04 16:50] bj0 commented on #5
This is indeed the case for me.  And from several SO questions (ie: https://stackoverflow.com/questions/17910322/android-ble-api-gatt-notification-not-received), it seems to be the case for Android in general.

According to that BT doc this descriptor is required, so assuming it is present is probably fine.  Using the following helper function I successfully get notifications:

[code]

with
[code]

[2018-01-21 19:27] LouisCAD opened #6 "The sample should request permissions"

[2018-01-23 21:43] bj0 opened #7 "`connect` does oblivious to connection failure."
If I try to connect to a device that is turned off, and wait with `connect().await()`,   I will eventually get a `StateChange` from `onConnectionStateChange` with a `status = 133 (GATT_ERROR)` and `newState = DISCONNECTED`, but the `await` will never complete.

I currently wrap it in a `withTimeout`, but it would be nice if the connection error threw on the `await`, so I don't have to wait for the

[2018-01-23 21:53] bj0 commented on #7
after some more tries, it looks like I don't get that error every time, which is pretty odd

[2018-01-23 22:06] LouisCAD commented on #7
What do you get instead when you don't have a 133 GATT_ERROR ?

On Tue, Jan 23, 2018, 10:53 PM Brian Parma <notifications@github.com> wrote:

[2018-01-23 22:51] bj0 commented on #7
I was getting nothing.

[2018-01-24 08:16] LouisCAD commented on #7
This is expected since the device is not in range and powered on. The 133 GATT_ERROR is due to issues in the Bluetooth Stack however. As documented, it's your responsibility to handle connection status changes using the dedicated channel (so you can retry, or close the `GattConnection` object, cancelling the coroutines waiting on it). The sample shows how to properly use `withTimeout` to not let y

[2018-03-11 09:50] LouisCAD commented on #4
More than a month late, but will come soon. Likely the coming week

[2018-03-19 18:43] LouisCAD commented on #4
Version 0.1.0 is published on bintray! Sync to jcenter has been requested and is pending.

In the meantime, you can add the bintray repo to the `repositories` closure in your `build.gradle`:
`maven { url  "https://dl.bintray.com/beepiz/maven" }`,
and use the dependencies right now:
`implementation 'com.beepiz.blegattcoroutines:blegattcoroutines-core:0.1.0'`
`implementation 'com.beepiz.blegattcorou

[2018-03-20 09:21] smasher816 opened #12 "Notification Channel missing items"
First of all, awesome library. Thank you so much for simplifying my bluetooth callback and handling code.

After enabling notifications and writing to the cccd as described here https://github.com/Beepiz/BleGattCoroutines/issues/5#issuecomment-355335034 I do sucessfully get notifications. However I discovered that notifications are sometimes not processed. Using the code below a log message seems

[2018-03-20 09:33] LouisCAD commented on #12
Hi @smasher816, thanks for the kind words.
Do you listen to the `stateChangeChannel` to watch for potential errors or connection loss? Also, is nRF Connect active in the background when you encounter this issue?

[2018-03-20 09:43] smasher816 commented on #12
Hi @LouisCAD, I have been using the `GattConnection.logConnectionChanges()` function and have not seen any connection losses. nRF Connect has been closed and was only used after.

With a bit more testing this only seems to happen when requesting notifications for one characteristic, and then later requesting notifications for another.

[code]

Strangely enough characteristic2 is only messed up if

[2018-03-20 10:15] LouisCAD commented on #12
The issue here is that by calling `receive()` on the `notifyChannel`, you suspend the coroutine until a notification is received. That means you don't reach the point where you subscribe to the other notification until a first one is received.

What you should do instead is adding a subscriber to the `notifyChannel` by calling `consumeEach { ... }` before applying any filter, and if you don't want

[2018-03-20 10:57] LouisCAD commented on #12
@smasher816 Can you confirm that writing a descriptor is **required** in order to receive notifications, as stated in #5?

[2018-03-20 14:54] #4 closed

[2018-03-20 14:56] LouisCAD commented on #4
jcenter sync complete! 🎉 🎉
The Download instructions in the README have been updated.

[2018-03-20 19:16] smasher816 commented on #12
I do actually mean for the coroutine to suspend. My ble device has a kind of call and response architecture where the phone can pass it data, wait for human interaction, then compute a result and pass it back to the phone with a notification.

I have the `enableNotifications, write, notifyChannel.receive()` process above wrapped in a function called `writeAndReadResponse`. If I call `var foo = wri

[2018-03-20 19:33] LouisCAD commented on #5
There's interesting information about this [here on StackOverflow](https://stackoverflow.com/questions/22817005/why-does-setcharacteristicnotification-not-actually-enable-notifications).

It seems the `setCharacteristicNotification(…)` method only allows the Android device to receive notifications, but it doesn't mean they are enabled on the other side.

The `setCharacteristicNotificationsEnabled(

[2018-03-20 19:34] LouisCAD commented on #12
Thanks for the link. It seems the `setCharacteristicNotification(…)` method only allows the Android device to receive notifications, but it doesn't mean they are enabled on the other side. That's probably the cause of your issue.

I commented in #5 on what we can expect in next version to address this.

[2018-04-11 08:46] jishindev opened #14 "Feature request: Ble devices scan"
Hi @LouisCAD, I've just started exploring kotlin co-routines and I'm really into learning more of it. I've written an app to interact with a ble device using the standard android SDK first and got frustrated with it so then used RxAndroidBle library and which does the job. But I assume that it all can be simplified using kotlin co-routines and your library. I checked this library and found it to b

[2018-04-11 09:18] LouisCAD commented on #14
Hi @jishindev!
While how to design a library that exposes Android's `BluetoothGatt` API as suspending functions was pretty obvious, this was not the case for `BluetoothLeScanner`.
We use the scanner in our apps, but the code is really closer to our business logic, hence why it's not open sourced.

However, I know making bluetooth low energy scanning easier, and safer (because there are [undocument

[2018-04-11 10:42] jishindev commented on #14
First of all, thanks for the quick and detailed reply.

In case if this grows into an end-to-end solution for interacting with BLE devices, may be we could just have callbacks that tell you if a certain permission is not granted or Bluetooth/Location settings are not turned on. Just in case. Not a must have.

Sure. So we are working on a school bus attendance monitoring system with RFID. We have a

[2018-04-12 07:16] LouisCAD commented on #14
@jishindev Is the Android device an Android Things device? Which Android version is it running?

[2018-04-12 08:24] jishindev commented on #14
The Android device is a mobile phone which is with the driver which runs the app. The other module is an Arduino board which runs the BLE gatt services which is written using C++ on the Arduino IDE.

[2018-04-19 07:42] LouisCAD commented on #14
@jishindev FYI, I'm starting to work on a library for scanning as we need it internally.

[2018-04-19 07:45] jishindev commented on #14
@LouisCAD Great. Thanks.

[2018-04-19 13:42] jishindev opened #15 "Update sample"
Hi again @LouisCAD, Would be great if you could spare some time to update the sample android application with examples to read and write characteristics and descriptors and also notifications within the same sample repo.

[2018-04-20 13:42] #14 closed

[2018-04-20 13:49] LouisCAD commented on #14
@jishindev Here it is: https://github.com/Beepiz/BleScanCoroutines
It's still in design phase, so there's no jcenter release, you'll have to download the project and import the core module to use it.

[2018-04-20 15:53] LouisCAD commented on #15
Hi @jishindev,
We didn't do so yet because we would need to have a server BLE device that respects a contract that the client device (and app) would expect, and there's a lot of variety of BLE devices.

However, Android allows to open a GATT server, so here's what's possible:
- Optionally make a library module for GATT server to play well with coroutines.
- Make a GATT server in the `sample-common

[2018-04-21 12:08] jishindev commented on #15
Valid point. But for now, may be we could have the example implementation mentioned [here](https://developer.android.com/guide/topics/connectivity/bluetooth-le.html) just to start with.

[2018-04-21 12:45] LouisCAD commented on #15
Yeah, it'd be a good start. PR welcome. Implementation is expected in the sample-common module, in dedicated package(s)

[2018-05-09 13:49] Hulcsa opened #16 "Request MTU"
Hi!

First of all, thank you for this lib, very helpful! I only have one question.

Can I increase somehow the MTU size?

Bests,
Balazs

[2018-05-09 18:33] LouisCAD commented on #16
Hi @Hulcsa !

Thanks for the kind words!

This has not been included because we didn't need it and I wasn't certain how to expose it properly.
However, this is definitely something we want to add.

[The doc here](https://developer.android.com/reference/android/bluetooth/BluetoothGattCallback#onMtuChanged(android.bluetooth.BluetoothGatt,%20int,%20int)) states that the MTU changed callback can happe

[2018-05-10 18:47] Hulcsa commented on #16
Well, I only need to set it once before any communication. If i could find out what is the current MTU that would be nice too.

[2018-05-14 07:35] LouisCAD commented on #16
Ok, so in next version, this will be added.
The MTU value will be cached so you can get it at any time

[2018-05-14 13:26] LouisCAD opened #17 "Add isConnected property on GattConnection"

[2018-05-22 18:15] bj0 commented on #17
doesn't this already exist?
https://github.com/Beepiz/BleGattCoroutines/blob/master/core/src/main/java/com/beepiz/bluetooth/gattcoroutines/experimental/GattConnection.kt#L78

I came here because this property is not being correctly updated when the BLE connection drops (turn device off).

[2018-05-22 19:00] bj0 opened #18 "Prevent GattConnection re-use"
I've been having issues with disconnecting and then reconnecting a `GattConnection` device.  It reconnects fine, but a lot of functionality stops working.  Sends are timing out, and notifications no longer come.

Have you been able to get this to work properly?

Note if I `close` the device and create a new one everything works fine.

[2018-05-22 19:55] LouisCAD commented on #17
You're right @bj0, it already exists! I forgot it I had already added it. You say it's not being updated correctly… Does the `stateChangeChannel` receives any disconnection value?

[2018-05-22 19:55] #17 closed

[2018-05-22 19:58] LouisCAD commented on #18
I've been thinking about how it would really work when the connection is dropped, then made again, when reusing the same `GattConnection` instance, and I'm wondering if I should really reuse it.
I'm not sure if I should make it optional, or completely remove the reusability.
If it worked properly, would reusing the `GattConnection` after a disconnection really help your use case, or you can as wel

[2018-05-22 20:01] LouisCAD commented on #18
On a BLE device type i'm currently working on, some state is reset on each new connection, and I observed dead suspensions too. To alleviate this issue, I launched a coroutine that consumes the `stateChangeChannel` and closes the `GattConnection` on any disconnection, so it fails, and I redo the work from a clean state.

[2018-05-22 20:03] bj0 commented on #17
it does receive a `newState`, but the `status` flag is `8` when it happens, so it bypasses the `when` check.

I can't find `8` in the android docs, so i'm not sure what it means.

[2018-05-22 20:06] bj0 commented on #18
I'm not sure if it saves anything to re-use the connection.  I assumed it would be more efficient than recreating it every time, but since it's not working properly I'll probably just re-create it on `connect()` calls.

I wrap it all in my own `ConnectionManager` object anyway to maintain persistent channels between devices, which is the only issue I can see in recreating the device each time.

[2018-05-22 21:07] LouisCAD commented on #17
@bj0 Out of curiosity, what device, running which version of Android are you using that gives you an `8` status?
Also, this may be an error code returned by the BLE device, you can check if in the same conditions but on a different device, you get the same status code

[2018-05-22 21:09] bj0 commented on #17
It's a Samsung S7.  I don't think it comes from the BLE device as I get it several seconds after i turn the BLE device off.  I am assuming it has something to do with the connection timing out.

[2018-05-23 08:27] LouisCAD commented on #17
Strange...

[2018-07-09 09:25] LouisCAD commented on #18
I changed the title. This will be worked on.

[2018-09-14 23:10] LouisCAD opened #19 "Migrate to structured concurrency"
kotlinx.coroutines 0.26.0 brought structured concurrency. While the library API may not have to change because of this, the sample certainly needs some changes.

[2018-09-27 21:37] LouisCAD commented on #18
This has been fixed in version 0.2.0-rc01.

[2018-09-27 21:37] #18 closed

[2018-09-27 21:38] LouisCAD commented on #19
Fixed in version 0.2.0-rc01.

[2018-09-27 21:38] #19 closed

[2018-09-27 23:01] LouisCAD opened #21 "Support more connection parameters like autoConnect, transport and phy"
Mind the API level requirements while implementing this

[2018-10-02 08:48] LouisCAD opened #22 "isConnectedChannel is not closed"

[2018-10-02 08:55] #22 closed

[2018-10-06 15:38] Miha-x64 opened #25 "minSdk / @RequiresApi"
Hello.
I can see many methods with `@RequiresApi(18)` (which is a version when BLE support was added). Is there any reason for library to have `minSdk 14`?

[2018-10-06 17:31] LouisCAD commented on #25
Hello, yes there's good reason.
Do you know what would happen to all apps using this library if I raised the minSdk to 18, and removed the annotations?

Here's what would happen:
1. The apps that support an SDK lower than 18 would no longer compile with the new version.
2. They would circumvent this restriction by forcing library minSdk override.
3. Then, when writing new code, there would be no w

[2018-10-06 17:31] #25 closed

[2018-10-27 07:24] Miha-x64 commented on #21
One more thing to know: while [GattConnectionImpl uses](https://github.com/Beepiz/BleGattCoroutines/blob/master/core/src/main/java/com/beepiz/bluetooth/gattcoroutines/experimental/GattConnectionImpl.kt#L225) direct connection, [it also calls](https://github.com/Beepiz/BleGattCoroutines/blob/master/core/src/main/java/com/beepiz/bluetooth/gattcoroutines/experimental/GattConnectionImpl.kt#L76) [Bluet

[2018-10-27 09:23] LouisCAD commented on #21
I can't believe they allowed such code into AOSP with so poor documentation…
Thank you for making me aware of this, will help next time I spend some time on this issue and other related issues.

[2018-10-30 08:13] LouisCAD opened #26 "Update to Kotlin 1.3 with stable coroutines and use experimental annotations"

[2018-11-16 03:32] aravindsg commented on #5
@LouisCAD There are two notification types available in BLE. we need to write appropriate descriptor value to enable / disable BLE notification or indication.

https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.descriptor.gatt.client_characteristic_configuration.xml&u=org.bluetooth.descriptor.gatt.client_characteristic_configuration.xml

https://developer.android.c

[2018-11-16 03:38] aravindsg opened #28 "Support transport connect parameter (otherwise, it doesn't work on API 23+ with some BLE devices)"

[2018-11-16 03:49] aravindsg commented on #28
@LouisCAD
bluetoothDevice.connectGatt(appCtx, false, callback) doesn't work with latest Android api level.

We managed to get it work with this fix

[code]

Reference:
https://stackoverflow.com/questions/50301602/unable-to-connect-android-to-a-specific-ble-device/52772343#52772343
https://stackoverflow.com/questions/18052593/how-to-connect-android-device-to-an-ios-device-over-ble-bluetooth-low-ene

[2018-11-16 10:12] LouisCAD commented on #28
Hi, thanks for the report, and the links.
This depends on the device you want to connect to.
At the moment, we've only tested it with one type of BLE only devices, so it works for us on all API levels.
However, I'm currently working on supporting initial connection parameters so you can have transport specified, and that should fix this issue.

[2018-11-16 13:23] LouisCAD opened #29 "Proposal: Rename GattConnection interface to something else"
`GattConnection` is not the ideal name for 3 reasons:
- `Bluetooth` or `Ble` is missing from its name, while it's exclusively for Bluetooth General ATTribute.
- There's "Connection" in the name, but when an instance is originally created, the connection is not
established yet.
- There's "Connection" in the name, but there's a `disconnect()` function… should `Connection` be magically dropped from t

[2018-11-16 15:00] #21 closed

[2018-11-16 15:00] #28 closed

[2018-11-26 18:36] LouisCAD commented on #16
I won't be able to put this in the next version as I wrote previously, because my tests didn't exhibit the documented behavior regarding the `onMtuChanged` advertised to be called after a connection change.
I may provide an experimental API after Kotlin 1.3.10 migration though.

[2018-11-27 16:09] #26 closed

[2018-12-06 00:05] bj0 commented on #29
Seems odd to put `suspend` on the front of the name, I would think `async` or `asynchronous` would be more descriptive/accurate.  Maybe `Allochronic`...

`BleGatt` is probably best but least unique.  Maybe `AndroidBleGatt Library`.  That gets close to `Able` though, which is used by (https://github.com/JuulLabs-OSS/able).

Or maybe just some sort of pun involving Cats?

Or just a non-descriptive n

[2018-12-06 22:00] bj0 opened #33 "Access to BluetoothDevice"
Would it be possible to add a `val` property to `GattConnection` to return its associated bt device?  It would be useful when I want to display properties (like mac address) without having to save them externally when they are already part of the object.

[2018-12-06 22:06] LouisCAD commented on #33
Hi, yes it is possible. Do you want to make a PR adding it to the interface, and editing the constructor of the implementation accordingly?

[2018-12-07 17:00] bj0 opened #34 "Update Readme to mention allow reconnect"
The example in the Readme shows using `disconnect()`, but if you try to use it you get an exception:

```java.lang.IllegalArgumentException: Disconnect is not supported when auto connect is not allowed. Use close() instead.```

No where in the readme or examples is there anything about any "auto connect".  I only found it by digging through the code.

[2018-12-07 19:01] LouisCAD commented on #34
You're right, this line of code should be removed from the README. Do you
want to submit a PR directly on master for this?

On Fri, Dec 7, 2018, 6:00 PM Brian Parma <notifications@github.com> wrote:

[2018-12-18 01:50] es0329 commented on #29
Hi, I'm passing through :) Given these options I agree with @bj0's favor/caution with regard to `BleGatt`. I also see on Wikipedia that [Bluetooth was first called "short-link"](https://en.wikipedia.org/wiki/Bluetooth#Origin) radio technology.

How does `interface ShortLink` sound to you?

[code]

[2018-12-18 02:07] JoeBakalor commented on #29
Short-link was in regards to Bluetooth classic though not Bluetooth Low Energy

Sent from my iPhone

[2018-12-26 15:51] LouisCAD opened #36 "Document ConnectionClosedException in GattConnection"

[2019-01-28 01:14] LouisCAD opened #37 "Add instrumented tests to verify error handling"
This needs a cooperating GattServer.

[2019-02-08 15:34] wcauchois opened #39 "Why main thread only?"
This is more of a question than an issue so I hope this is the right forum.

Why are all GattConnection operations restricted to the main UI thread? If you call them from any other thread, they throw an exception saying it's not supported "right now". Is there actually a restriction that BLE ops must be performed from the main thread, or is that restriction in place mostly to ensure that operation

[2019-02-19 15:56] wcauchois opened #40 "Connection maintained after timing out on connect() and calling close()"
Hi,

In the documentation for connect() it recommends you put a 5 second timeout on connect(), calling close() afterwards. I have followed this recommendation, but it seems I get in to circumstances where the connect times out but the connection to the device is maintained (just untracked by my code, which is the problem.)

My code is essentially:

[code]

However, sometimes (actually quite freque

[2019-02-28 09:28] LouisCAD commented on #40
Hi Bill, thanks for reaching out regarding your issue, and sorry for replying this late.
I'd advise to raise the timeout to 7 seconds, or even a bit longer as in my experience, it can be quite slow at times.
That doesn't solve the underlying issue though, and in the current state, it's fair to say it's hard to debug it.

Something that could help debug is a debug mode that would log each call made

[2019-02-28 09:30] LouisCAD commented on #39
Because I read that it is risky to use BLE with multiple threads. However, there's no proof of this risk, and maybe it was just to avoid race conditions, which is not a problem we should have as long as we're doing the operations sequentially. I'll consider dropping this check to allow using `Dispatchers.Default` or any other dispatcher/thread(s).

[2019-03-25 14:50] francismariano opened #41 "notifyChannel with problem"
Hello, nice library team.

I am having problem with notifyChannel use. For example, in **onStart** Android fragment the notification is enabled and in **onStop** android fragment the notification is disabled. When I out and coming back for same fragment and the  notification is enabled again, the notifyChannel no works.  The current fragment tries update a feature into bluetooth device  and waitin

[2019-05-05 14:27] LouisCAD commented on #7
Did using `withTimeout` solve your issue?

[2019-05-05 17:33] LouisCAD commented on #36
Fixed on the develop branch.

[2019-05-05 17:33] #36 closed

[2019-05-05 18:45] LouisCAD commented on #40
Probably related to https://github.com/NordicSemiconductor/Android-BLE-Library/issues/104

I believe this is caused by `connect` continuing despite the `close`, and should be solved by calling `disconnect`. I made `close` in `GattConnection` call `disconnect` by default, so this should solve your issue.

Next version will be out when this issue is automatically closed.

Please, let me know if it s

[2019-05-05 21:22] #5 closed

[2019-05-05 21:22] #12 closed

[2019-05-05 21:22] #39 closed

[2019-05-05 21:22] #40 closed

[2019-05-05 21:22] #41 closed

[2019-05-05 21:22] #6 closed

[2019-05-05 21:22] #34 closed

[2019-05-05 21:22] LouisCAD commented on #12
This may have been caused by the fact that `notifyChannel` was not a `BroadcastChannel`. Version 0.4.0 just released should resolve your issue, and also brings a new `openNotificationSubscription` function that may be a better fit for what you want.

[2019-05-05 21:22] LouisCAD commented on #41
Hi, I reworked notifications enabling in 0.4.0, please try with that new release, and let me know here how it goes, or open a new issue.

[2019-05-05 21:23] #16 closed

[2019-05-05 21:23] #33 closed

[2019-05-05 21:28] LouisCAD commented on #5
Resolved in 0.4.0. Let me know if it works correctly for you or if you encounter any problem.

[2019-05-06 15:36] LouisCAD opened #43 "Version 0.4.0 has broken pom that prevents gradle sync"
The pom files contain a problematic part:
[code]

and that is preventing dependency consumption.

This is a high priority issue.

[2019-05-08 10:32] #43 closed

[2019-05-08 10:35] LouisCAD commented on #43
Fixed in 0.4.1. Enjoy the new version!

[2019-05-17 09:37] MikhailNatalenko opened #45 "What about callbacks from gatt?"
I am sorry but i can't find anything about GATT's callbacks like `onConnection`, `onRecieve` and etc. How to us it?

[2019-05-17 09:43] MikhailNatalenko commented on #45
Ok, I don't need `onConnect` event because of coroutines, i just use it "synchronously". But server can send me messages sometimes. How should i get them?

[2019-05-17 10:18] LouisCAD commented on #45
The whole point of coroutines is to not pollute your code with routine callbacks. Or one of its points at least.

Also, I bet that by ""synchronously"", you meant "sequentially".

What are the messages sent from the server you are talking about? If it's notifications, this is already supported, you can find find all the documented functions you should need in the `GattConnection` interface.

[2019-05-17 12:15] MikhailNatalenko commented on #45
@LouisCAD you right. English is not a native language for me...

I guess my question is pretty stupid. Should i get notifications like this:

[code]

[2019-05-17 13:14] MikhailNatalenko commented on #45
I think i begin to understand the main idea of corutines in BLE. I have a scenario:
[code]

i think i understand how to implement it with API

But what if i have a special characteristic CC that can send me a notify asyncronously at any time of my scenario? In my case this characteristic says about ERROR, and it sends me a ERROR-code, after that device waits for timeout and reboots. So it's very i

[2019-05-17 15:36] MikhailNatalenko commented on #45
Also how to add events from UI to this chain? The only way i see for now is to have a synchro context with some values, which my Main Coroutine will read.  But it sounds not good. Can you suggest another aproach?

[2019-05-18 21:29] LouisCAD commented on #45
If notification are enabled on both devices for the target characteristic, yes, `notifyChannel.receive()` in a loop can work, but please, look at [the openNotificationSubscription function](https://github.com/Beepiz/BleGattCoroutines/blob/2adfb4b0969478e60603f0abf1d506b03aac95eb/core/src/androidMain/kotlin/com/beepiz/bluetooth/gattcoroutines/GattConnection.kt#L165)

[2019-05-18 21:32] LouisCAD commented on #45
What do you mean by "synchro context" and "some values"? And what are you referring to exactly when you write "Main Coroutine"?

[2019-05-18 23:04] MikhailNatalenko commented on #45
Ok , let me explain from the very begining.

I have a BLE device, that sends me some events (with notify as you mentioned). I understand how does GATT works (in basics), i've already made this BLE device and i got an application that is made with callbacks. And it works pretty well but...

I want to refactor my BLE code with your API (because i want to try Kotlin and modern aproaches) and i don't

[2019-05-18 23:12] LouisCAD commented on #45
You can launch child concurrent coroutines with… `launch { }`. If you want to cancel some running coroutine based on user action or whatever, you can call `cancel()` on the `Job` returned by `launch`, as usual with coroutines. I'd recommend to launch a coroutine for listening to notifications, and you can launch other coroutines if it makes sense for your use case.

Also, if you want to abstract t

[2019-05-19 11:12] MikhailNatalenko commented on #45
It really does thank you! Tomorrow i will try to do something with it.

[2019-05-20 08:41] MikhailNatalenko commented on #45
Also for those who has similar beginner's questions as me i recommed this video:

https://www.youtube.com/watch?time_continue=2369&v=a3agLJQ6vt8

Speaker tells how to use coroutines with channels, how to syncronise content and so on. It was really helpfull for me.

[2019-05-21 12:53] MikhailNatalenko commented on #45
So, i implemented everything i want with Channels

I've made bunch of channels, like

`val eventAChannel : Channel<bool>`
`val eventBChannel : Channel<bool>`

In main code, where i want to implement main functionality i do something like:

[code]

Channels are syncrhonised out of the box so i don't worry about concurency and other async stuff

Then eanywere in code i can `send()` anything and i wi

[2019-05-21 12:53] #45 closed

[2019-05-21 12:54] MikhailNatalenko commented on #45
Thank you guys for this library!

[2019-05-24 13:12] MikhailNatalenko opened #46 "More verbous characteristics notify API"
Is it a good idea to make List of channels for each characteristic? (Is it even posible?)

Now we got only one channel `notifyChannel`, when a notify comes we get it and then parse it (which craracteristic it is and so on), it is not very handy

It would be nice if there were something like :

[code]

[2019-05-25 14:57] LouisCAD commented on #46
You already get a list of all the characteristics with `discoverServices()`, and you can then use `openNotificationSubscription`.

Does it satisfy your use case?

[2019-05-27 12:08] MikhailNatalenko commented on #46
No, i'm talking about API for recieving notifies (not enabling). For example i've got 2 different characteristics that can send me notifications. I will wait for notifications with `notifyChannel.receive()`  and then i should check which characteristic has sent the notification. It is ok for now, and i can use this API for my cases, but it would be much more handy if i could register separated not

[2019-05-27 16:55] LouisCAD commented on #46
The function I mentioned does both. Enables notifications for a specific
characteristic and funnels the received notifications into the returned
channel.

Le lun. 27 mai 2019 à 14:08, Михаил Наталенко <notifications@github.com> a
écrit :

[2019-05-28 07:20] MikhailNatalenko commented on #46
i'm a dumbass, sorry i mixed up `openNotificationSubscription` and `setCharacteristicNotificationsEnabled` Indeed this function is what i need

[2019-05-28 07:21] #46 closed

[2019-05-31 12:05] MikhailNatalenko opened #47 "isConnected not working when i get gatt 133 error"
When my ble device disconnects me i get the gatt status 133. BleGattCoroutine throws an exception
`com.beepiz.bluetooth.gattcoroutines.OperationFailedException`  as expected, and then i want to check BLE status with `isConnected()` method. In this situatuion i expect 'false' but i get 'true'. Is it a bug?

I am sorry but can't provide you a minimal sketch right now i do something like:

[code]

[2019-06-02 19:03] LouisCAD commented on #47
The 133 error is quite obscure (it's named `GATT_ERROR` in AOSP, but undocumented, and when it happens, your best bet is to close the connection and retry from a new one. You should get the `OperationFailedException` or the other errors BleGattCoroutines can throw, and from the status present in the exception, handle the 133 to retry after closing the connection.

[2019-06-07 12:27] MikhailNatalenko opened #48 "Refresh cache feature"
Hello!

I have a weird issue on one of my test phones (it's Huawei P Smart 2017) I don't know how, but it looks like cache corrupting somehow and I can't connect one more time after disconnect. I can clear the cache with nRF connect app and it work's like a charm. I want to have this feature too

It's hidden in BluetoothGatt class.

https://stackoverflow.com/questions/22596951/how-to-programmatica

[2019-06-10 10:37] MikhailNatalenko opened #49 "How to catch fatal disconnect?"
It's a little bit strange, but I do not catch anything from BLE if I disconnect it hardly. For example, if I switch the device off. Or if I turn off Bluetooth on my phone. I do catch everything if I disconnect from phone "properly".

So for example, if I connect the phone to the device and then reset the device - nothing will happen until I'll try to send something.

[2019-06-10 10:38] MikhailNatalenko commented on #49
Another simple case: connect to ble, and then just switch Bluetooth off.

[2019-06-10 10:41] MikhailNatalenko commented on #49
It looks like I don't set timeout. Is it possible?

[2019-06-19 01:54] pablodeymo opened #50 "Incompatible version of the Android Gradle plugin"
Hello Louis and team,

I am using Android Studio 3.5beta4, and I am having this error trying to compile the repo.

ERROR: The project is using an incompatible version of the Android Gradle plugin.
Please update your project to use version 3.5.0-beta04.
Search in build.gradle files

Can you help solving this?

(I agree with you about the hard and big effort using vanilla Android BluetoothGatt API,

[2019-06-19 02:11] pablodeymo commented on #50
I've changed version of Gradle in buildSrc to:
"com.android.tools.build:gradle:3.5.0-beta04" and now is building

[2019-06-19 10:24] LouisCAD commented on #50
Feel free to submit a PR directly on master (as the develop branch is behind for now) to update it.
I'm closing this as this is solved for you, and pretty common in the Android dev world.

[2019-06-19 10:24] #50 closed

[2019-07-02 20:01] darrinps opened #51 "Print no longer functioning"
In the example you provide (not the sample, the text code in the main writeup) you have a line that says: Log.d(tag, it.print(printCharacteristics = true))

That line does not compile. There is no print function.

[2019-07-02 21:50] #51 closed

[2019-07-02 21:50] darrinps commented on #51
Now see that it's added separately.

[2019-07-14 14:26] LouisCAD commented on #49
I'm not sure what you mean here. Only you can know if you set timeout or not. Also, it's unclear to me what you're talking about when you ask if it is possible.

[2019-07-14 14:27] #49 closed

[2019-07-14 14:51] LouisCAD commented on #48
Hello,
I'm open to adding this feature.
Do you want to submit a PR for this feature?

[2019-07-14 14:52] LouisCAD commented on #49
Fixed formatting of my comment above.
Is there a reason why you closed it without telling why?

[2019-07-14 16:01] LouisCAD opened #52 "Add Flow integration"
Waiting for version 1.3.0 of kotlinx.coroutines.

[2019-07-14 18:35] MikhailNatalenko commented on #49
Sorry, I was a little bit busy. To be honest, I don't even remember exactly the point of this issue, I'm not working with the library and the project anymore, so I'm not sure did I solve it by myself or not. Sorry again!

[2019-10-03 22:55] farruhha opened #54 "GattConnection.discoverServices() not working"
GattConnection.discoverServices() not working at all. When it is called, my app is just stuck, the code after discoverServices() is not running at all.

[2019-10-04 07:33] LouisCAD commented on #54
Are you certain it's not just taking a long time to execute?
How much time have you been waiting for it?
Does it happen all the times?
Does it happen only on a certain device?

[2019-10-21 07:03] LouisCAD commented on #54
Hi @farruhha, can you give the details requested 17 days ago?

[2019-10-21 07:05] LouisCAD opened #55 "iOS, macOS, watchOS and tvOS support"
This library can be inspiring: https://github.com/Reedyuk/blue-falcon as it uses Apple's CoreBluetooth API with Kotlin/Native. This can help understanding how the API can be used, which is needed to provide a common API.

Ideally, the source and binary compatibility is not broken in the way for existing Android projects.

[2019-10-29 21:36] farruhha commented on #54
Hello, I am sorry for the late response. I think we can close the ticket. It was my custom made hardware that has a problem with connection. Library is awesome to use.

[2019-10-30 07:34] LouisCAD commented on #54
Alright, and thanks for the kind words.

[2019-10-30 07:34] #54 closed

[2019-11-19 13:45] grubesa opened #56 "Notify channel receiving duplicated values"
Hi,

I found bug with receiving multiple consecutive notifications from same characteristic. I'm expecting 6 consecutive notifications from my bluetooth device with different values but getting 6 notifications with some duplicated values. Firmware on device is not an issue because everything works fine on iOS app.

I have subscribed on characteristic with `connection.openNotificationSubscription(n

[2019-11-27 09:36] LouisCAD commented on #56
Thanks for the report and the solution suggestion. Another user reach out to me and confirmed the copying of the `BGC` solved it. I'll see how I can fix it right into the library.

[2020-01-16 14:02] odahcam commented on #54
I'm facing the same issue with a chinese developed hardware. It works with common bluetooth approach, but not with the lib's `discoverServices` method.

These are the last logs I received:

[code]

After that, the app gets stuck forever. The same happen with other devices like Mi Band 4 and Amazfit Bip Watch.

I've verified that the debugger makes up to the `android.bluetooth.BluetoothGatt#discove

[2020-01-17 01:38] LouisCAD commented on #54
@odahcam  What is "common bluetooth approach" exactly?

FYI, debugger is going into comments is because the code on the device doesn't match the source code that you have, and line of code numbers are consequently not pointing to the same place.

From the logs you show, I see `status=133`, which indicates a GATT_ERROR caused by any of the two devices, or the app, or another app interfering.

Regar

[2020-01-17 02:29] odahcam commented on #54
The one Android has documented that consists in creating a `BluetoothLeService`, which I believe is the most common approach.

That's probably because I'm using JetBrains uncompiler to reach that deep in the code, I didn't downloaded the sources to play with yet.

That's probably because that's some random device I've tried to connect to to generate the logs, I've mistaken put these as the chinese

[2020-01-17 18:18] odahcam commented on #29
You could create a `GattConnectionBuilder` that returns the `GattConnection`, it would give time for ya to think in a library rename.

[2020-01-17 18:52] odahcam opened #57 "Receivei channel poll fails when dicoverServices is called and keeps app stuck"
When we call our device's `deviceConnection.discoverServices()` it calls the method written at line  317 of `com/beepiz/bluetooth/gattcoroutines/GattConnectionImpl.kt`, `gattRequest`. This method receives a channel (`ch: ReceiveChannel<GattResponse<E>>`) for the request purpose and after a few instructions calls `ch.reveice()` on this channel. That's when the problem occours.

The channel throws a

[2020-01-18 09:57] LouisCAD commented on #57
Poll failing is normal, it means the device didn't return the services yet.
The function should resume later when the device finally returns its
services. Note that the debugger cannot currently step over suspend calls.
You need to put the breakpoint after instead of stepping until it.

Did you try putting a breakpoint in your code on the code after
discoverServices?

On Fri, Jan 17, 2020, 19:52 L

[2020-01-18 19:27] odahcam commented on #57
Yes, it never reaches code after the `discoverServices` call. Couldn't it have a timeout?

[2020-01-18 19:36] LouisCAD commented on #57
My suggestion is to try without the library, and see if you get the
callback. If not, the issue is likely related to the BLE server you are
using that never returns the services.

On Sat, Jan 18, 2020, 20:27 Luiz Machado <notifications@github.com> wrote:

[2020-01-18 22:47] odahcam commented on #57
It's already implemented without the library using the god callback style and it have been working for a while, that's because I think this is a problem with the lib itself. I was trying to migrate to this lib in order to improve performance and improve reliability.

[2020-01-19 15:59] LouisCAD commented on #57
Then please look at the connection parameters and tell me if you spot a difference.

[2020-01-20 14:17] odahcam commented on #57
Ok, so considering `device.connectGatt` call:

- `appCtx`: The app context is obviusly different, you use a function to get it and I simply pass my service's context.
- `autoConnect`: is `false`, both the same.
- `callback`: different, of course.
- `transport`: I don't pass this parameter.
- `phy`: I don't pass this parameter.

[2020-01-20 14:27] odahcam commented on #57
You also asked me if I put some breakpoints after the `discoverServices` call:

![image](https://user-images.githubusercontent.com/3942006/72734010-c1652600-3b77-11ea-961d-e7633a376257.png)

None of them (after the call) get hit.

[2020-01-20 14:36] odahcam commented on #57
I've tested with the `appCtx` within my service and had no problems with it.

[2020-01-20 14:39] LouisCAD commented on #57
`appCtx` is not used under the hood anyway.

Regarding the breakpoints, I don't really understand the screenshot. It seems you're editing the library code and putting breakpoints there while it's designed to be used without modification in suspending functions (aka. coroutines), and you should put breakpoints (or plain old logs) after the `discoverServices()` suspend call on `GattConnection` is co

[2020-01-20 14:41] LouisCAD commented on #57
The sample app uses `discoverServices()` successfully. Can you try the sample app on your device?

[2020-01-20 21:34] odahcam commented on #57
About the screenshot, I really edited the library's code, but just to add that try-catch block to see if there was any exception, because no code after the method call gets hit by the debugger.

I couldn't make the sample app to run due to incompatible Gradle versions:
![image](https://user-images.githubusercontent.com/3942006/72759118-7c5ee500-3bb3-11ea-8c4c-0162cf1b62da.png)

And my Studio is un

[2020-01-20 22:56] LouisCAD commented on #57
If there was an exception, it'd be thrown.

For the error, you can go into build.gradle.kts and update AGP (Android
Gradle Plugin) to the required version (3.5.3).

On Mon, Jan 20, 2020, 22:34 Luiz Machado <notifications@github.com> wrote:

[2020-01-22 11:53] odahcam commented on #57
You sure? I see no gradle version in there.

[2020-01-22 11:55] LouisCAD commented on #57
My bad, it's defined in buildSrc/build.gradle.kts

On Wed, Jan 22, 2020, 12:53 Luiz Machado <notifications@github.com> wrote:

[2020-01-22 14:14] odahcam commented on #57
I've openned the app, accepted the permission requests and turnt on my bluetooth manually, so a dialog appeared on the bottom of my screen asking me for me to choose a device to pair. The dialog then says is impossible to pair with the device (which is no news) since the device is not meant to be paired so I tried with another device (which was already paired) and got a timeout, so I tried another

[2020-01-22 15:56] LouisCAD commented on #57
The dialog is shown by Samsung, it has nothing to do with BLE. It's about Bluetooth classic, which is a very different thing.

Did you try changing the mac address of the device the sample tries connecting to with the mac address of your BLE enabled device?

[2020-01-22 23:56] odahcam commented on #57
Yep, aware.

Nope, I didn't know that. I'll try tomorrow.

[2020-01-23 13:08] odahcam commented on #57
I did the test and the device connected successful, altought the only toast that appeared on the screen was the device's name as you can see here: https://imgur.com/a/e1FcwUB

[2020-01-23 13:17] LouisCAD commented on #57
So the library is working fine, as expected.

The sample is very basic, but that's enough to inspired you how to implement what you need for your use case.

[2020-01-23 18:30] odahcam commented on #57
Can you explain me how differently the sample app is discovering services from the way I'm doing? Because I have no problem connecting to the device in my app, but to discover services in it.

[2020-01-24 13:53] LouisCAD commented on #57
I cannot, because I don't have your code, but the name of the device is printed only after `discoverServices` completes successfully (includes the callback being called), so you can use the sample as a prototyping starting point as you told me it's working as expected.

[2020-01-24 14:53] odahcam commented on #57
Yep, I just found the extension methods on the sample (wonder why they're used as example on README and didn't came with the lib) and debbuged them successfully. The first thing I discovered is that my bluetooth service does make some interference with the library and I believe the problem may be something with `splitties` because of what it does (but it's only a shot in the dark).

I was using my

[2020-01-24 16:06] LouisCAD commented on #57
Because you should decide how you deal with disconnections (retries, backoff delay, max attempts, alert user…). The extensions from the sample just log that it failed, which is good only for a sample.

If you have other code (or even another app) interacting with the same device, of course that can cause interference and unexpected behavior! So if you want it to work, you need to stop breaking it,

[2020-01-24 18:14] odahcam commented on #57
Just that:

[code]

This is from the sample code, so you already know it:

https://github.com/Beepiz/BleGattCoroutines/blob/3a660829a476ea2727eecc392bad41c9b9f0246d/sample-common/src/androidMain/kotlin/com/beepiz/blegattcoroutines/sample/common/extensions/GattHelpers.kt#L21-L47

I then stop calling it and went with:

[code]

And it worked just fine. Now I just need to find out how to scan devices

[2020-02-12 11:56] grubesa opened #58 "Subscribe/close throws exception"
Hi,
I think I found a bug. It occurs in following situation:
When I subscribe to characteristic with `connection.openNotificationSubscription(notificationCharacteristic)` and
connection closes before I get the chance to unsubscribe from characteristic. I get this exception:
[code]
While investigating, I realised that you attach close handler to notifications channel which causes the exception:
[co

[2020-03-03 09:00] LouisCAD commented on #58
Hi, I'm sorry for the late reply, but here it is:

Checking the connection is alive before doing something can be a fail-fast optimization, but other than that, it cannot prevent sudden connection drops, so checking the connection somehow before using it would only reduce occurrences of that behavior.

I'll take a look at your PR soon, still.

[2020-03-03 20:51] dleppik commented on #58
For what it's worth, @grubesa's change was a big help to me. I have a situation where the device can suddenly go out of range, so graceful disconnects are not an option.

[2020-03-09 13:01] odahcam commented on #57
I did it.

---

The issue is _(after almost 3 months)_ still happening but I didn't investigate to know whats going wrong anymore since I managed to call `discoverServices` in some point of my app that it just works.

[2020-03-09 19:19] odahcam opened #60 "Characteristic changed BroadcastChannel losing values"
Some values (usually the first one) that arrive at [`onCharacteristicChanged`](https://github.com/Beepiz/BleGattCoroutines/blob/4a61774d1d8a40de10c186daf2dcf645f76164c2/core/src/androidMain/kotlin/com/beepiz/bluetooth/gattcoroutines/GattConnectionImpl.kt#L278) never gets to be received from [`openNotificationSubscription`](https://github.com/Beepiz/BleGattCoroutines/blob/4a61774d1d8a40de10c186daf2

[2020-03-10 12:49] odahcam commented on #56
I can confirm this too. Copying the characteristic solved the issue. Is a PR welcome?

[2020-03-10 20:08] odahcam commented on #57
I started to happen in another point of my code after I started to call `discoverServices` more times. It looks like this issue occours when `Mutex` state is `[LOCKED]`, even if you're doing nothing. I'll futher investigate this and update the status in here.

[2020-03-12 13:01] odahcam commented on #57
I noticed another place where the same issue happens: when trying to disable remote device characteristic.

While closing my device's connection, I try to disable notifications from the characteristic I use and, when I call the method, the app gets stuck on the `gattRequest` method from `GattConnectionImpl`. It looks like `writeChannel` (passed down to the method as the first parameter) is expecte

[2020-03-23 22:12] LouisCAD opened #62 "Update project"
1. Integrate [refreshVersions](https://github.com/jmfayard/refreshVersions)
2. Update dependencies with it
3. Replace exposed `Channel`s with `Flow`s
4. Review PRs, and merge the ones that are improvements giving no drawback, or build upon the idea to make something better
5. Release a new version

[2020-03-23 22:19] LouisCAD commented on #56
If it doesn't change the API, yes. Otherwise, please wait a few weeks for me to complete #62.

[2020-03-28 23:23] Volatile-Memory commented on #52
Any progress on this?

[2020-03-28 23:25] Volatile-Memory commented on #62
![image](https://user-images.githubusercontent.com/2176942/77836117-5e68b000-7121-11ea-9ac2-b57f18baab4a.png)

When cloning this repo with the latest stable Android Studio, I get that prompt and the automatic upgrade fails:
![image](https://user-images.githubusercontent.com/2176942/77836134-7a6c5180-7121-11ea-8b4d-8470bbdda943.png)

Any ideas?

[2020-04-13 21:46] odahcam commented on #56
It would't change the API at all, but I was unable to find time to do a proper tested PR, sorry.

[2020-06-25 11:06] Jacek-Galla commented on #60
Hi, I think that the problem is with the channel capacity.

https://github.com/Beepiz/BleGattCoroutines/blob/4a61774d1d8a40de10c186daf2dcf645f76164c2/core/src/androidMain/kotlin/com/beepiz/bluetooth/gattcoroutines/GattConnectionImpl.kt#L62

Now capacity is 1, so every new notification will overwrite the old one. I think, that this channel should be BUFFERED

[2020-06-26 11:56] odahcam commented on #60
I also thought that, but changing the channel doesn't solves the issue, as the issue is within the scopes and the callstack execution order and something else I don't remember how to explain, hehe. But some good folk explained very well in a PR a few weeks ago, I believe this is the explanation: https://github.com/Beepiz/BleGattCoroutines/pull/61#issuecomment-612562123

[2020-08-03 16:00] francismariano commented on #62
Hello @LouisCAD

Let us know about update project. Do you need help with something?

[2020-09-14 19:27] LouisCAD commented on #62
Hi @francismariano thanks for offering help and sorry for the long time with no response.

I was sidetracked by other open source projects ([refreshVersions](https://github.com/jmfayard/refreshVersions) and [Splitties](https://github.com/LouisCAD/Splitties)) and life.

I'll get back to this project and update it soon, before Kotlin 1.4 Online Event, and going forward, it'll be updated more often w

[2021-01-21 09:33] vincentbrison opened #64 "Add support for Indicate"
Thanks for the awesome work.

Currently the lib only support notification through Notify (check [`setCharacteristicNotificationsEnabledOnRemoteDevice`](https://github.com/Beepiz/BleGattCoroutines/blob/3a660829a476ea2727eecc392bad41c9b9f0246d/core/src/androidMain/kotlin/com/beepiz/bluetooth/gattcoroutines/GattConnectionImpl.kt#L171)).

There is a second way of doing notification through [Indicate](

[2021-03-01 17:07] joharei opened #65 "Migrate away from jcenter"
You're probably aware of this, but [jcenter is being sunsetted](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/), so this package should probably migrate to somewhere else soon.

[2021-03-24 13:56] KennyGoers opened #66 "Seems like all work has stopped on this, if that is the case, please just mark it that way"
Seems like all work has stopped on this, if that is the case, please just mark it that way.

Thanks

[2021-03-24 14:16] LouisCAD commented on #66
Hello, I'm still contributing to open source, it's just a struggle to focus on many things at once.
As time passes, the pile of things to do increases. I had some code changes to do, but now I have to deal with jcenter closing and setup MavenCentral releasing too, which makes me procrastinate as there are other things I want to do first.

I don't plan to abandon this project, unless something with

[2021-03-24 17:30] twyatt commented on #66
I by no means want to take any attention away from this library, as it is a great foundation for tackling the incredibly complex world of BLE. I also understand @LouisCAD being busy, he makes numerous contributions to open source and the Kotlin community in general. Although, as a potential alternative, I have been actively working on [Kable](https://github.com/JuulLabs/kable) which solves similar

[2021-06-27 00:30] hannesvoss commented on #65
ping @LouisCAD

[2021-12-14 23:55] gapfDev commented on #65
Any answer ? or are you moving to a different library guys? ,   @joharei , @hannesvoss

[2021-12-15 08:37] joharei commented on #65
I moved to [Kable](https://github.com/JuulLabs/kable), which seems well maintained.

[2021-12-15 17:37] gapfDev commented on #65
Thanks @joharei

[2021-12-15 18:21] hannesvoss commented on #65
Me too 👍🏼

[2021-12-16 13:02] LouisCAD commented on #65
Hello, I'm sorry for having taken so much time to respond.

I made myself so busy with other projects that it's hard to find enough time to maintain this one, and I'm not super motivated when I know that [kable](https://github.com/JuulLabs/kable), which is working on multiple platforms, provides the same functionality.

Since jcenter keeps being accessible for existing versions, it's not really a

[2022-02-25 16:55] LouisCAD commented on #58
Hello, I finally released a new version (after almost 3 years 😓 ), it's on MavenCentral and should avoid un-preventable crashes like this one.
I'll let you read [the (short) release notes of the version 0.5.0](https://github.com/Beepiz/BleGattCoroutines/releases/tag/v0.5.0) to learn a bit more before you update.

BTW, BleGattCoroutines is, as you'd expect, now on MavenCentral.

[2022-02-25 16:55] #58 closed

[2022-02-28 10:26] LouisCAD commented on #65
Hello, last week, I finally published [a new version of the library](https://github.com/Beepiz/BleGattCoroutines/releases/tag/v0.5.0), (1004 days after the previous).

It's available on MavenCentral, and there's a smooth pipeline for future releases now.

[2022-02-28 10:26] #65 closed

[2022-02-28 10:26] LouisCAD commented on #65
Thank you for your patience 🙏

[2022-02-28 10:29] LouisCAD commented on #64
Hello, sorry for the long time without news.
If you're still up for it, feel free to send a PR starting with a `setCharacteristicIndicationsEnabledOnRemoteDevice` function.

As for the `openNotificationSubscription` function, it's been deprecated in v0.5.0 in favor of `notifications, so I'd think about a function named `indications`.

[2022-02-28 10:32] LouisCAD commented on #66
Work on this library resumed.
Last week, I published version 0.5.0 on MavenCentral with several modernizing updates, it was 1004 days after the previous release (😅).

Now that the project is easier to update and publish, I'll do my best to respond much quicker (within a week or less).

[2022-02-28 10:32] #66 closed

[2022-02-28 10:33] LouisCAD commented on #62
Was much longer than I wanted, but now, the project has been updated. This issue is now obsolete 🙂

[2022-02-28 10:33] #62 closed

[2022-02-28 10:35] LouisCAD commented on #60
Quoting myself for future reference as I'll work to fix this:

[2022-02-28 10:37] LouisCAD commented on #60
Related to #56

[2022-07-11 23:38] tr15tan opened #69 "How to avoid BLUETOOTH_CONNECT permission check when API version under 31?"
I got lint check error due to the annotation `@RequiresPermission(Manifest.permission.BLUETOOTH_CONNECT)` which you added for Android 12.

I have to write some boilerplate code generated from the IDE smart suggestion to force use the essential API like this :
[code]

Can you give any suggestion about how to avoid these unnecessary code, please?

[2022-09-09 20:33] johanlunds opened #70 "Connect with timeout waits unnecessarily long"
Hi,

I have connect code with timeout and stateChanges flow code as recommended. Like this:

[code]

My issue is that sometimes connecting fails quickly with status = 133. What happens then is that `withTimeout` waits unnecessarily long:

1. A state change is triggered with status 133, so `disconnect()` above is executed.
2. `withTimeout` will wait the full 5 seconds
3. Then after 5 seconds it tim

[2022-09-09 22:05] johanlunds commented on #70
I managed to get some code working now that does what I want it to (I think it's correct at least), but it feels a bit hacky and I'm not sure this is the best way:

[code]

I would love feedback on how to improve this!

[2022-09-10 10:57] johanlunds commented on #70
Here is how a change to `GattConnection.connect()` to make it fail fast could look like:

https://github.com/Beepiz/BleGattCoroutines/compare/main...johanlunds:johanlunds-connect-change

[code]

[code]

There's probably a reason it works like it does today that escapes me, so please feel free to let me know.

[2022-09-24 08:06] #69 closed

[2022-09-24 08:09] tr15tan commented on #69
Well, i found add this annotation `@SuppressLint("MissingPermission")` above the method calling `viewModel.myBLEMethod()` is just enough~

[2022-10-25 07:53] LakshminPrasanna commented on #69
Hi @tr15tan , this @SuppressLint("MissingPermission") worked.But when i try with (device?.connectGatt(this, false, mGattCallback)) app started crashing and asking BLUETOOTH_CONNECT permission.If i gave the permission then app is not connecting to the BLE device. Can you please help me here

[2022-11-07 04:08] tr15tan commented on #69
hi @LakshminPrasanna, i am not sure what the real problem you are facing with, but i think you can start from these  directions:

1. confirm your device is fully support BLE function
2. check the [permissions](https://developer.android.google.cn/guide/topics/connectivity/bluetooth/permissions) which BLE asked for.
3. check all verbose and warning logcat printed by BleGattCoroutines library and sys